<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="Hospital" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=TheHospitalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	  <!--Connectionstring for User PCs-->
	  <!--<add name="Hospital" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.9.200.74;initial catalog=TheHospitalDb;user id=test;password=12345678;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--Connectionstring for Server-->
	  <add name="Hospital" connectionString="data source=.;initial catalog=TheHospitalDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>